{% if overlap %}
    <p>Cards already backed up:</p>
   <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {% for card in overlap %}
            <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if cards %}
    <p>New cards added:</p>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% if not cards and not overlap %}
    <p>No cards are in the set. Weird.</p>
{% endif %}